<h1><%= t "mailer.product_suggest_accept" %></h1>

<p><%= t "mailer.hi" %> <%= @user.name %>,</p>

<p><%= t "mailer.product_suggest_message" %> <%= link_to t("mailer.website"),
  root_url %> <%= t "mailer.to_order" %></p>
