<tr>
  <td><%= order.user ? order.user.name : t(".user_deleted") %></td>
  <td><%= l order.created_at %></td>
  <td><%= order.receiver_name %></td>
  <td><%= order.receiver_phone %></td>
  <td><%= l order.delivery_time %></td>
  <td><%= order.status %></td>
  <td><%= link_to t(".detail"), admin_order_path(order),
    class: "btn btn-info" %></td>
</tr>
