<table class="table table-responsive">
  <tr>
    <th><%= t ".name" %></th>
    <td><%= @user.name %></td>
  </tr>
  <tr>
    <th><%= t ".email" %></th>
    <td><%= @user.email %></td>
  </tr>
  <tr>
    <th><%= t ".phone" %></th>
    <td><%= @user.phone %></td>
  </tr>
</table>
