<table class="table table-hover table-responsive table-striped">
  <thead>
    <tr>
      <th><%= t ".product" %></th>
      <th><%= t ".quantity" %></th>
      <th><%= t ".price" %></th>
      <th><%= t ".amount" %></th>
    </tr>
  </thead>
  <tbody>
    <% @order_details.each do |item| %>
      <tr>
        <td><%= item.product.name %></td>
        <td><%= item.quantity %></td>
        <td><%= number_to_currency item.price %></td>
        <td><%= number_to_currency item.price * item.quantity %></td>
      </tr>
    <% end %>
    <tr class="total_bill">
      <td></td>
      <td></td>
      <td><span class="pull-right"><%= t ".total" %></span></td>
      <td><%= number_to_currency @order.order_amount %></td>
    </tr>
  </tbody>
</table>

<div class="col-md-12 text-center">
  <%= will_paginate @order_details %>
</div>
