<table class="table table-responsive receiver_infomation">
  <tr>
    <th><%= t ".receiver_name" %></th>
    <td><%= @order.receiver_name %></td>
  </tr>
  <tr>
    <th><%= t ".receiver_address" %></th>
    <td><%= @order.receiver_address %></td>
  </tr>
  <tr>
    <th><%= t ".receiver_phone" %></th>
    <td><%= @order.receiver_phone %></td>
  </tr>
  <tr>
    <th><%= t ".delivery_time" %></th>
    <td><%= l @order.delivery_time %></td>
  </tr>
  <tr>
    <th><%= t ".remarks" %></th>
    <td><%= @order.remarks %></td>
  </tr>
  <tr>
    <th><%= t ".status" %></th>
    <td>
      <%= @order.status %>
    </td>
  </tr>
</table>
