<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>

<div class="container">
  <div class="row margin-bottom-10">
    <div class="col-md-6">
      <%= link_to t(".add_category"), new_admin_category_path,
        class: "btn btn-primary" %>
    </div>
    <div class="col-md-6 pull-right">
      <%= render "search_form" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover table-responsive table-striped table-bordered">
        <thead>
          <tr>
            <th><%= t ".name" %></th>
            <th><%= t ".classify" %></th>
            <th><%= t ".edit" %></th>
            <th><%= t ".delete" %></th>
          </tr>
        </thead>
        <tbody>
          <%= render @categories %>
        </tbody>
      </table>
    </div>
    <div class="col-md-12 text-center">
      <%= will_paginate %>
    </div>
  </div>
</div>
