<%= form_for @product, html: {multipart: true}, url: yield(:url_path) do |f| %>
  <div class="form-group">
    <%= render "shared/error_messages", object: f.object %>
  </div>
  <div class="form-group">
    <%= f.label t(".name") %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label t(".price") %>
    <%= f.number_field :price, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label t(".quantity") %>
    <%= f.number_field :quantity, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label t(".picture") %>
    <%= f.file_field :picture, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag t(".classify") %>
    <%= select_tag :classify,
      options_for_select(@supports.classifies, params[:classify]),
      class: "form-control", include_blank: t(".select_all"),
      id: "classify_filter", data: {url: products_path(:json)} %>
  </div>
  <div class="form-group">
    <%= f.label t(".category") %>
    <%= f.select :category_id, options_from_collection_for_select(
      @supports.categories, :id, :name, @product.category_id),
      {include_blank: t(".select_category")},
      {class: "form-control", id: "category_id_filter"} %>
  </div>
  <div class="form-group">
    <%= f.label t(".description") %>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>
