<% provide :title, t(".title") %>

<div class="row">
  <div class="col-md-12 filter-products">
    <%= render "filter_form" %>
  </div>
  <div class="col-md-12 suggest-product">
    <div class="btn suggest-button"><%= link_to t(".suggest_product_button"),
      new_product_suggest_path%></div>
    <span><%= t ".suggest_product" %></span>
  </div>
  <div class="col-md-12">
    <div class="row" id="products">
      <%= render @products %>
    </div>
  </div>
  <div class="col-md-12 text-center" id="paginate">
    <%= will_paginate %>
  </div>
</div>
