<% provide :title, @product.name %>

<div class="row">
  <div class="col-md-8 product-detail">
    <div class="row">
      <div class="col-md-12">
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><%= link_to t(".home"), root_path %></li>
          <li class="breadcrumb-item"><%= link_to @product.category.name,
            products_path(category_id: @product.category.id),
            class: "breadcrumb-item" %></li>
          <li class="breadcrumb-item active"><%= @product.name %></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-4 product-picture">
        <%= image_tag @product.picture, alt: @product.name if @product.picture? %>
      </div>
      <div class="col-md-9 col-sm-8">
        <%= render "product_detail" %>
      </div>
      <div class="col-md-12 description">
        <h3 class="title"><%= t ".description" %></h3>
        <div class="content">
          <%= @product.description %>
        </div>
      </div>
      <div class="col-md-12 comment">
        <h3 class="title"><%= t ".comment" %></h3>
        <div class="comment-form">
          <% if logged_in? %>
            <%= render "comments/form" %>
          <% else %>
            <p><%= t ".cant_comment" %></p>
          <% end %>
        </div>
        <div class="comment-list">
          <%= render @comments %>
          <div class="text-center">
            <%= will_paginate @comments %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 cart">
    <h3 class="title"><%= t ".cart" %></h3>
    <div id="cart-items">
      <%= render "carts/cart" %>
    </div>
  </div>
</div>
