<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to image_tag("f_logo.png", alt: "Foods and drinks logo"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user.admin? %>
          <li><%= link_to t(".users"), "#" %></li>
          <li><%= link_to t(".categories"), "#" %></li>
          <li><%= link_to t(".products"), "#" %></li>
          <li><%= link_to t(".orders"), "#" %></li>
          <li><%= link_to t(".logout"), logout_path, method: "delete" %></li>
        <% else %>
          <li><%= link_to t("static_pages.home.title"), root_path %></li>
          <li><%= link_to t("layouts.header.products"), root_path %></li>
          <li><%= link_to t("static_pages.help.title"), "/static_pages/help" %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= t ".account" %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to t(".profile"), "#" %></li>
              <li><%= link_to t(".setting"), "#" %></li>
              <li class="divider"></li>
                <li>
                  <%= link_to t(".logout"), logout_path, method: "delete" %>
                </li>
              </ul>
            </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
