<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title><%= full_title yield :title %></title>
    <%= render "layouts/rails_default" %>
  </head>
  <body>
    <% if logged_in? %>
      <% if current_user.admin? %>
        <%= render "layouts/header_admin" %>
      <% else %>
        <%= render "layouts/header_customer" %>
      <% end %>
    <% else %>
      <%= render "layouts/header" %>
    <% end %>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <%= content_tag :div, message, class: "alert alert-#{message_type}" %>
      <% end %>
      <%= yield %>
      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
